.container-home{
    color: #fff;
    padding: 80px 25px 5px 25px;
    text-align: center;
}
.titulo {
    font-size: 24px;
}

.subtitulo {
    font-size: 15px;
    line-height: 1.8;
    padding: 10px 0 20px 0;
}

@media screen and (min-width: 1080px) {
    .container-home{
        width: 45%;
        padding: 80px 55px 5px 55px;
        text-align: left;
    }
    .titulo {
        font-size: 44px;
    }
    .subtitulo {
        font-size: 15px;
        line-height: 1.8;
    }

}